<p> Añadir comentario:</p>
<form method="post" action="/quizes/<%=quizid%>/comments/">
  <p><textarea type="text" id="comment" name="comment[texto]" value="" placeholder="Escribe tu comentario" ></textarea></p>
  <button type="submit">Enviar</button>
</form>
