
<h2><span>El autor es: </span><%= author %></h2>
<figure>
  <img src="/images/fotoweb.jpg"/>
</figure>
<div>
  <video width="320" height="240" controls>
    <source src="/videos/gato.mp4" type="video/mp4">
    <source src="/videos/gato.webm" type="video/webm">
      Tu navegador no soporta la etiqueta de video.
  </video>
</div>
