<h2>Informacion del autor</h2>
<p><strong></strong><%= nombre%></p>
<p><strong></strong><%= apellidos%></p>
<p><strong></strong><%= profesion%></p>
<p><strong>Foto: </strong></p>
<img src="<%= foto%>" width="400" height="300">