body             { background: #333; }

#page-wrap:after { content: "Smartphone Layout"; }

h1 span, section h3{
  display: none;
 }
body{
  font-size: xx-large;
 }
.contenedor{
   height:auto;
 }
section{
  overflow:hidden;
 }
input, footer{
  font-size: large;
  }
