@font-face {
	font-family: 'Ravie';
	src: url('/fonts/RAVIE.eot');
	src: local('☺'),
    url('/fonts/RAVIE.woff') format('woff'),
    url('/fonts/RAVIE.ttf') format('truetype'),
    url('/fonts/RAVIE.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*#page-wrap:after { content: "Smartphone Layout"; }*/

h1 span, section h3{
  display: none;
 }
body{
  font-size: xx-large;
 }
.inicio{
  font-size:1em;
  font-weight:bold;
  padding:2%;
  font-family:Ravie;
}
.contenedor{
   height:auto;
 }
#listado{
  display:none;
}
.preguntas, .editar{
  border-bottom: 1px solid #5e3020;
}
nav a{
  display:block;
}
#tema p{
  font-size:0.92em ! important;
  background: #F49D77;
  color: #5e3020;
}
.preguntas {
  order:1;
}
.listado1 div,.listado form{
  width:100%;
}
section{
  overflow:hidden;
 }
input, footer{
  font-size: large;
  }
