body { background: #999; }

/*#page-wrap:after { content: "Wide cambiando"; }*/

nav{
  width: 15%;
}
nav span{
  margin: 0px 100px 0px 0px;
}
section{
  width: 80%;
  overflow:hidden;
}
#izquierda{
  display:inline;
}
#arriba{
  display:none;
}
.contenedor{
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
nav a{
	display:block;
}
section figure{

  display:inline;
}
section figure img{
  width:10%;
}
section div{
  display:inline;
  margin-right:3%;
}
footer{

  display: block;
}
