<p>
<p><label for="select" class="rem">Tema:</label>
<select name="quiz[tema]">

  <% if ( quiz.tema === "otro") { %>
      <option  selected class="option" value="otro">Otro</option>
  <% }else{ %>
      <option class="option" value="otro">Otro</option>
  <% } %>
  <% if ( quiz.tema === "humanidades") { %>
      <option selected class="option" value="humanidades">Humanidades</option>
  <% }else{ %>
      <option class="option" value="humanidades">Humanidades</option>
  <% } %>
  <% if ( quiz.tema === "ocio") { %>
    <option selected class="option" value="ocio">Ocio</option>
  <% }else{ %>
    <option class="option" value="ocio">Ocio</option>
  <% } %>
  <% if ( quiz.tema === "ciencia") { %>
    <option selected class="option" value="ciencia">Ciencia</option>
  <% }else{ %>
    <option class="option" value="ciencia">Ciencia</option>
  <% } %>
  <% if ( quiz.tema === "tecnologia") { %>
    <option selected class="option" value="tecnologia">Tecnología</option>
  <% }else{ %>
      <option class="option" value="tecnologia">Tecnología</option>
  <% } %>
</select>
</p>
<p><label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>" /></p>
<p><label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>" /></p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar">
